body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1em;
} 

/* margin 0 */
header h1, header h2, .option-title, .option-ingredients, .option-price, .order-food, .order-price{
    margin: 0;
}

.container, .thanks {
    max-width: 600px;
    box-sizing: border-box;
    margin: auto;
}

header {
    text-align: center;
    padding: 2em 0 2em 0;
    width: 100%;
    color: white;
    background-image: url("images/hamburgerbanner.jpg");
    background-size: cover;
    background-position: center ;
} 

header h1 {
    font-size: 2rem;
}

header h2 {
    font-size: 1rem;
    font-weight: 400;
}

.option {
    padding: 3em;
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(223, 223, 223) solid;
}

.option-emoji {
    width: 4.5rem;
    margin-right: 1.25em;
}

.option-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.option-ingredients {
    font-weight: 300;
    font-size: 0.6rem;
    color: grey;
    /* border: 1px red solid; */
}

.option-price {
    font-weight: 500;
    margin-top: 0.5em;
    font-size: 0.9rem;
}

.option-add-btn {
    font-family: inherit;
    color: rgb(100, 100, 100);
    width: 2em;
    height: 2em;
    font-size: 1.375rem;
    font-weight: 300;
    border-radius: 50%;
    border: 1px solid gainsboro;
    background-color: white;
}

.order {
    padding: 0 3em 0 3em;
}

.order-title {
    text-align: center;
    font-weight: 500;
}

.order-election {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin: 0.5em 0 0.5em 0;
}

.order-food {
    font-weight: 500;
}

.remove {
    color: gainsboro;
    font-size: 0.625rem;
    background: none;
    font-family: inherit;
    border: none;
    padding: 0;    
}
.order-price {
    margin-left: auto;
    font-weight: 500;
    font-size: 0.9rem;
}

.total {
    border-top: 2px solid rgb(27, 27, 27);
    padding-top: 0.625em;
    display: flex;
}

.complete-order-btn {
    margin-top: 2em;
    width: 100%;
    border: none;
    padding: 1em;
    font-weight: 700;
    color: white;
    background-color: #15db99;
    border-radius: 5px;
}

input{
    padding: 0.625em;
    width: 250px;
    margin: 0.25em;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid rgb(168, 168, 168);
}

.paying .complete-order-btn {
    width: 250px;
    margin-top: 0.5em;
}
.paying {
    display: none;
    position: fixed;
    text-align: center;
    background-color:rgb(56, 0, 0);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    max-width: 300px;
    height: fit-content;
    margin: auto;
    padding: 0.5em;
    background-color: white;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
}

.count {
    text-align: center;
}

.btns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    gap: 1em;
}

.thanks {
    text-align: center;
    color: #065F46;
    background-color: #ECFDF5;
    border-radius: 5px;
    padding: 0.6em;
    margin-top: 0.5em;
}